body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;

    display:flex;
    justify-content:center;
    align-items:flex-start;

    min-height:100vh;
    margin:0;
    padding:20px;
}

.contenedor{
    background:white;
    width:400px;
    padding:30px;

    border-radius:12px;

    box-shadow:0px 8px 20px rgba(0,0,0,0.2);
}

.logo{
    text-align:center;
    background:black;
    padding:15px;
    border-radius:10px;
}

.logo img{
    width:120px;
}

h2{
    text-align:center;
    margin-top:15px;
}

form{
    margin-top:20px;
}

label{
    font-weight:bold;
}

input, select{
    width:100%;
    padding:10px;

    margin-top:5px;
    margin-bottom:15px;

    border-radius:6px;
    border:1px solid #ccc;
}

.boton{
    width:100%;
    background:#FFD700;
    border:none;

    padding:12px;

    border-radius:6px;

    font-weight:bold;
    font-size:16px;

    cursor:pointer;
}

.boton:hover{
    background:#e6c200;
}